<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <add name="TkSchoolDbContext" providerName="System.Data.SqlClient" connectionString="data source=localhost;initial catalog=TkSchoolNews;persist security info=True;user id=sa;password=hung2603;multipleactiveresultsets=True;application name=EntityFramework" />
  </configuration>