<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <add name="TkSchoolDbContext" connectionString="data source=TUAN\TUANSQL;initial catalog=TkSchoolNews;persist security info=True;user id=sa;password=0984540134;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </configuration>