
@{
    ViewBag.Title = "Oppps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center"><span class="glyphicon glyphicon-remove" style="color:red; font-size:100px;"></span></div>
<div style="text-align:center;"><h1 style="color:red;">Error @Response.StatusCode-@Response.StatusDescription</h1></div>

