
@{
    ViewBag.Title = "access denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center;">
    <h1><span style="color:red;">mật khẩu hoặc tên đăng nhập không đúng<br />quyền truy cập bị từ chối</span></h1>
</div>

