
@{
    ViewBag.Title = "Quản trị chung";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4><strong>>>&nbsp;</strong><a href="@Url.Action("TblNewsDraffListIndex","Admin")">quản lý tin tức</a></h4>
<h4><strong>>>&nbsp;</strong><a href="@Url.Action("TblChartUpdate","Admin")">quản lý slide ảnh</a></h4>
<h4><strong>>>&nbsp;</strong><a href="@Url.Action("TblFileIndex","Admin")">quản lý tệp</a></h4>
<h4><strong>>>&nbsp;</strong><a href="@Url.Action("TblGalleryListIndex","Admin")">quản lý album ảnh</a></h4>

