@using TK.Business.Data
@{
    ViewBag.Title = "quản lý album ảnh";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4><a href="@Url.Action("Index","Admin")">trang chủ</a> <strong>>></strong> <span style="color:red;">danh sách ảnh</span></h4>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr class="success">
                    <th>tìm kiếm ảnh</th>
                    <td><input type="text" name="searchname" ng-model="searchText.$" /></td>
                </tr>
            </table>
        </div>
    </div>
    <table cellpadding="12" class="table table-bordered table-hover">
        <tr>
            <th>mã ảnh</th>
            <th>tên ảnh</th>
            <th>đường dẫn</th>
            <th>hành động</th>
        </tr>
        <tr ng-repeat="uni in unit | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize" id="row_{{uni.Id}}">
            <td>{{uni.Id}}</td>
            <td>{{uni.Name}}</td>
            <td>{{uni.ImageUrl}}</td>
            <td>
                @{
                    var url = Url.Action("TblGalleryUpdate", "Admin", new { @id = "{{uni.Id}}" });
                    url = HttpUtility.UrlDecode(url);
                }
                <a data-ng-href="@url" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                &nbsp;<button class="btn btn-danger" ng-click="Delete(uni.Id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
</table>
    <div ng-show="loading"><img src="~/Images/hourglass.gif" alt="loading" style="width:50px;height:50px;margin:auto;" /></div>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <label>&nbsp;số bản ghi&nbsp;</label><input type="text" ng-model="pageSize" size="1" />
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= unit.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <br /><br />
    <a href="@Url.Action("TblGalleryCreate","Admin")" class="btn btn-info">tạo mới</a>
</div>
<br />
<script>
    var app = angular.module("myApp", ['ngSanitize']);
    app.controller("myCtrl", function ($scope, $http, $window) {
        $scope.loading = true;
        $http({
            method: "POST",
            url: "/Admin/TblGalleryList"
        }).
            then(function (response) {
                $scope.unit = response.data;
                $scope.currentPage = 0;
                $scope.pageSize = 10;
                $scope.numberOfPages = function () {
                    return Math.ceil($scope.unit.length / $scope.pageSize);
                }
                $scope.loading = false;
            });
        $scope.Delete = function (_id) {
            var delunit = $window.confirm("bạn có chắc muốn xóa bản ghi này");
            if (delunit) {
                $http({
                    method: "POST",
                    url: "/Admin/TblGalleryDelete",
                    type: "json",
                    data: { id: _id }
                }).then(function () {
                    $(document).ready(function () {
                        $("#row_" + _id + "").remove();
                    });
                });
            }
        }
    });
    app.filter('startFrom', function () {
        return function (input, start) {
            if (!input || !input.length) { return; }
            start = +start;
            return input.slice(start);
        }
    });
</script>


